= form_tag("/instructor_apps", method: "post") do
  = label_tag(:first_name, "First Name")
  = text_field_tag(:first_name)
  %br
  = label_tag(:last_name, "Last Name")
  = text_field_tag(:last_name)
  %br
  = label_tag(:email, "Email")
  = text_field_tag(:email)
  %br
  = label_tag(:phone_number, "Phone Number")
  = text_field_tag(:phone_number)
  %br
  = label_tag(:instagram_handle, "Instagram Handle")
  = text_field_tag(:instagram_handle)
  %br
  = label_tag(:blog_url, "Blog URL")
  = text_field_tag(:blog_url)
  %br
  = label_tag(:facebook_url, "Facebook URL")
  = text_field_tag(:facebook_url)
  %br
  = label_tag(:other_social_media, "Other social media (e.g. Twitter, Pinterest, LinkedIn, etc.)")
  = text_field_tag(:other_social_media)
  %br
  = label_tag(:love_about_hometown, "What do you love about the place you live? Why?")
  %br
  = text_area_tag(:love_about_hometown)
  %br
  = label_tag(:who_are, "Tell us who you are and what excites you.")
  %br
  = text_area_tag(:who_are)
  %br
  = label_tag(:unique_thing, "What do you think is the most unique thing about you?")
  %br
  = text_area_tag(:unique_thing)
  %br
  = label_tag(:activity_desc, "Describe your proposed activity and previous experience related to this activity.")
  %br
  = text_area_tag(:activity_desc)
  %br
  = label_tag(:activity_title, "Proposed activity title")
  %br
  = text_field_tag(:activity_title)
  %br
  = label_tag(:why_share, "Why do you want to share your activities with people?")
  %br
  = text_area_tag(:why_share) #this needs to be checkboxes
  %br
  = label_tag(:picture, "If you have them, please submit any of your photos related to this activity.")
  %br
  = text_area_tag(:picture)
  %br
  = submit_tag("Submit")


= link_to "Delete this entry", application_form_path(@application_form.id), method: 'delete'
