- @instructor_apps.each do |a|
 = a.first_name
 = a.last_name
 = a.email
 = a.phone_number
 = a.instagram_handle
 = a.blog_url
 = a.facebook_url
 = a.other_social_media
 = a.love_about_hometown
 = a.who_are
 = a.unique_thing
 = a.activity_desc
 = a.activity_title
 = a.why_share
 = a.picture
