= @instructor_app.first_name
= @instructor_app.last_name
= @instructor_app.email
= @instructor_app.phone_number
= @instructor_app.instagram_handle
= @instructor_app.blog_url
= @instructor_app.facebook_url
= @instructor_app.other_social_media
= @instructor_app.love_about_hometown
= @instructor_app.who_are
= @instructor_app.unique_thing
= @instructor_app.activity_desc
= @instructor_app.activity_title
= @instructor_app.why_share
= @instructor_app.picture
