<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Quirk</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/reviewapps">New Applications</a></li>
        <li><a href="/apps_under_review">Applications Under Review</a></li>
        <li><a href="/acceptedapps">Accepted Applications</a></li>
        <li><a href="/rejectedapps">Rejected Applications</a></li>
      </ul>
    </div>
  </div>
</nav>

  <%= @app.first_name %>
  <%= @app.last_name %>
  <br/>
  <%= @app.email %>
  <br/>
  <%= @app.instagram_handle %>
  <br/>
  <%= @app.blog_url %> <br/>
  <%= @app.facebook_url %> <br/>
  <%= @app.other_social_media %> <br/>
  <%= @app.love_about_hometown %> <br/>
  <%= @app.who_are %> <br/>
  <%= @app.unique_thing %> <br/>
  <%= @app.activity_title %> <br/>
  <%= @app.activity_desc %> <br/>
  <%= @app.why_share %> <br/>
  <%= @app.picture %>
  <br/>
  <%= link_to "Accept this application", accept_path, :value => "Accept", :class => "btn btn-primary" %>
  <%= link_to "Reject this application", reject_path, :value => "Reject", :class => "btn btn-primary" %>

    <br/>
  <br/>
