
<h1>
<%= @instructor.first_name.capitalize %>
<%= @instructor.last_name.capitalize %>
</h1>
<h2>
My Story
</h2>
<br/>
<%= @instructor.who_are %>
<br/>
<h2>
Activity!
</h2>
<br/>
<%= @instructor.activity_title.titleize %>
<br>
<%= @instructor.activity_desc %>
