<body class="instructors">

<nav class="navbar navbar-default navbar-static-top navbar-instructor">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="color: #323333">Quirk</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/sign_in" style="color: #323333">Log In</a></li>
        <li><a href="/users/sign_up" style="color: #323333">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>

<h1 class="instructorsh1">
  <!-- Instructor: <br> -->
  <p class = "instructor_name">
    <%= @instructor.first_name.capitalize %>
    <%= @instructor.last_name.capitalize %>
  </p>
</h1>
<div class ="container2">
<div class="instructor_info">
  <h2>
    My Story
  </h2>

  <p>
    ADD ACTUAL STORY!!!
    <%= @instructor.who_are %>
  </p>

  <h2>
    <%= @instructor.activity_title.titleize %>
  </h2>

  <p>
    <%= @instructor.activity_desc %>
  </p>

  <h2>
    Reviews
  </h2>

  <% @reviews.each do |review|%>
    <%= review.rating %> stars by <%= review.first_name %> <%= review.last_name %>
    <br>
    <%= review.content %>
    <br>
    <br>
  <% end %>

  <br>
  <%= link_to "Review #{@instructor.activity_title.titleize}", "/activity/#{@activity_id}/review/new", :class => "btn btn-default btn-review" %>
  <br>
  <p class="back_to_instructors">
    <%= link_to "Back to All Instructors", "/instructors", class: "btn btn-default btn-back" %>
  </p>
</div>
</div>
</body>
