
<h1>
<%= @instructor.first_name.capitalize %>
<%= @instructor.last_name.capitalize %>
</h1>
<h2>
My Story
</h2>
<br/>
ADD ACTUAL STORY!!!
<%= @instructor.who_are %>
<br/>
<h2>
Activity!
</h2>
<br/>
<%= @instructor.activity_title.titleize %>
<br>
<%= @instructor.activity_desc %>
<br>
<br>
reviews!!!!
<br>
<% @reviews.each do |review|%>
  <%= review.rating %> stars by <%= review.first_name %> <%= review.last_name %>
  <br>
  <%= review.content %>
  <br>
  <br>
<% end %>
<br>
<%= link_to "Review #{@instructor.activity_title.titleize}", "/activity/#{@activity_id}/review/new", :class => "btn btn-primary" %>
<br>
<a href = "/instructors">Back to all instructors</a>
