<p class="instructors_sign_in">
  <%= link_to "Home", root_path, class: "btn btn-primary" %>
  <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
</p>

<h1 class="instructorsh1">
  <!-- Instructor: <br> -->
  <p class = "instructor_name">
    <%= @instructor.first_name.capitalize %>
    <%= @instructor.last_name.capitalize %>
  </p>
</h1>

<div class="instructor_info">
  <h2>
    My Story
  </h2>

  <p>
    ADD ACTUAL STORY!!!
    <%= @instructor.who_are %>
  </p>

  <h2>
    <%= @instructor.activity_title.titleize %>
  </h2>

  <p>
    <%= @instructor.activity_desc %>
  </p>

  <h2>
    Reviews
  </h2>

  <% @reviews.each do |review|%>
    <%= review.rating %> stars by <%= review.first_name %> <%= review.last_name %>
    <br>
    <%= review.content %>
    <br>
    <br>
  <% end %>

  <br>
  <%= link_to "Review #{@instructor.activity_title.titleize}", "/activity/#{@activity_id}/review/new", :class => "btn btn-default btn-review" %>
  <br>
  <p class="back_to_instructors">
    <%= link_to "Back to All Instructors", "/instructors", class: "btn btn-default btn-back" %>
  </p>
</div>
