<body class="schedule_body">
  <nav class="navbar navbar-default navbar-static-top navbar-instructor">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="color: #ff8e62">Wanderlocal</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if !current_user %>
          <li><a href="/users/sign_in" style="color: #323333">Log In</a></li>
          <li><a href="/users/sign_up" style="color: #323333">Sign Up</a></li>
          <%end %>
          <% if current_user %>
          <li><%= link_to "Sign Out", destroy_user_session_path, class: "btn btn-primary sign-out-btn", :method => :delete, style: "color: #323333" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <h1 class="schedule_header">Schedule your activity!</h1>
  <p class="schedule">Please fill out the form below so we can find a time for you to do this activity!</p>
  <p class="schedule">Please provide upto three possible time blocks so that we can coodinate with the instructor.</p>
  <%= form_for @activity_id do |f|%>
    <div class="schedule_container">
      <div class="row">
        <div class='col-sm-4'>
            <%= label_tag(:possible_start_1, "Start Time:") %>
            <div class='input-group date' id="possible_start_1">
              <%= f.datetime_local_field :possible_start_1 %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
            <br>
            <%= label_tag(:possible_end_1, "End Time:") %>
            <div class='input-group date' id="possible_end_1">
              <%= f.datetime_local_field :possible_end_1 %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
            <br>
            <br>
            <%= label_tag(:possible_start_2, "Start Time:") %>
            <div class='input-group date' id="possible_start_2">
              <%= f.datetime_local_field :possible_start_2 %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
            <br>
            <%= label_tag(:possible_end_2, "End Time:") %>
            <div class='input-group date' id="possible_end_2">
              <%= f.datetime_local_field :possible_end_2 %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
            <br>
            <br>
            <%= label_tag(:possible_start_3, "Start Time:") %>
            <div class='input-group date' id="possible_start_3">
              <%= f.datetime_local_field :possible_start_3 %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
            <br>
            <%= label_tag(:possible_end_3, "End Time:") %>
            <div class='input-group date' id="possible_end_3">
              <%= f.datetime_local_field :possible_end_3 %><br>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
            <br>
            <br>
            <%= f.hidden_field :activity_id, :value => @activity_id %>
            <%= f.hidden_field :instructor_id, :value => @instructor_id %>
            <%= f.hidden_field :user_id, :value => @user_id %>

            <%= submit_tag("Submit", :class => "btn btn-default btn-submit-app", :value => "Submit") %>
            &nbsp;
            <br>
            <br>
            <%= link_to "Back to Instructor Page", "/individualinstructor/#{@instructor_id}", :class => "btn btn-default btn-submit-app" %>
        </div>
      </div>
    </div>
  <% end %>
</body>
