
<div class="homepage-header">
  <p class = "transparent-header clearfix">
  <p class = "logo pull-left">
    <%= @name %>
  </p>
  <p class="sign_in pull-right">
    <% if !current_user %>
    <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
    <%= link_to "Sign Up", new_user_session_path, class: "btn btn-primary" %>
    <%end %>
    <% if current_user %>
    <%= link_to "Sign Out", destroy_user_session_path, class: "btn btn-primary", :method => :delete %>
    <% end %>
  </p>
</div>



  <div id="fullpage">
    <div class="section intro">
      <p class = "intro_info">
        <p class="mission_statement">
          <%= @mission_statement %>
        </p>
        <br>
        <a class="btn btn-primary btn-lg btn-default btn-block" href="/instructors" role="button">
            Discover Activities
        </a>
      </p>
    </div>

    <!-- <div class="section stories">
      <p class="browse">
        <%= @browse_locals %>
      </p>
      <br>
      <a class="btn btn-primary btn-lg btn-default btn-block" href="/instructors" role="button">
          Discover Activities
      </a>
    </div> -->

    <div class="section apply">
      <p class = "apply_content">
        <p class="local_application">
          Apply as a Local
        </p>
        <br>
        <a class="btn btn-primary btn-default btn-block" href="/instructor_apps/new" role="button">
          Application
        </a>
        <br><br>
        <p class="sign_up">
          Sign up as a Traveller
        </p>
        <a class="btn btn-primary btn-default btn-block" href="/users/sign_up" role="button">
          Sign Up
        </a>
      </p>
    </div>

    <div class = "section contact">
      <p class = "contact_content">
        <a class="btn btn-primary btn-default btn-block" href="/contact_us" role="button">
          Contact Us
        </a>
      </p>
    </div>
>>>>>>> WIP
  </div>
