<!-- <link rel="stylesheets"> -->
<div id="fullpage">
  <div class="section intro">
    <p class="sign_in">
      <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
    </p>
    <h1>
      <%= @name %>
    </h1>
    <p class="greeting">
    <%= @greeting %>
    </p>
    <p class="mission_statement">
    <%= @mission_statement %>
  </p>
  </div>

  <div class="section stories">
    <p class="sign_in">
      <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
    </p>
    <h1>
      <%= @name %>
    </h1>
    <p class="browse">
    <%= @browse_locals %>
  </p>
    <br>
    <a class="btn btn-primary btn-lg btn-block" href="/instructors" role="button">
        Discover Activities
    </a>
  </div>

  <div class="section apply">
    <p class="sign_in">
      <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
    </p>
    <h2>
      <%= @name %>
    </h2>
    <p class="apply">
      Apply as a Local
    </p>
    <br>
    <a class="btn btn-primary btn-default btn-block" href="/instructor_apps/new" role="button">
      Application
    </a>
    <br><br>
    <p class="sign_up">
      Sign up as a Traveller
    </p>
    <a class="btn btn-primary btn-default btn-block" href="/users/sign_up" role="button">
      Sign Up
    </a>
  </div>

</div>


<!-- -# .head
-#   -# %link{rel:"stylesheet"}
-#   %link{rel:"stylesheet", type:"text/css", href:"jquery.fullPage.css"}
-#   -# <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
-#
-# #fullpage
-#   .section
-#     = @greeting
-#     = @mission_statement
-#   .section
-#     = @browse_locals
-#
-# .body
-#
-#
-#   %a{href: "/instructor_apps/new"}
-#     Application
-#   %a{href: "/stories"}
-#     Stories
-#   %a{href: "/users/sign_up"}
-#     Sign Up
-#   = link_to 'Sign Out', destroy_user_session_path, method: 'DELETE' -->
