%html
  %head
    %title Quirk
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    -# belong on a page that doesn't have fullpage.js
    -if !(controller_name.downcase == "welcome" && action_name == "index")
      %p.notice= notice
      %p.alert= alert
    = yield
